<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">

    <div id="nav-buttons">
        <ul>
            <a href="/">
                <li class="nav-button">
                    <i class="fa-solid fa-house"></i>
                </li>                
            </a>
            <a href="/gxmes">
                <li class="nav-button">
                    <i class="fa-solid fa-house"></i>
                </li>                
            </a>
            <a href="/apps">
                <li class="nav-button">
                    <i class="fa-solid fa-house"></i>
                </li>                
            </a>
            <a href="/settings">
                <li class="nav-button">
                    <i class="fa-solid fa-house"></i>
                </li>                
            </a>
        </ul>
    </div>
</div>
<!--css-->
<style>
    #nav-buttons {
        opacity: 75%;
        border-radius: 30px;
        display: flex;
        width: auto;
    }
    .nav-button {
        color: black;
    }

   .navbar {
    background-color: #565656;
    height: 74px;
    width: 267px;
   }
</style>
